# .env
TELEGRAM_BOT_TOKEN=YOUR_SECRET_HERE
REDIS_URL=YOUR_SECRET_HERE
GOOGLE_API_KEY=YOUR_SECRET_HERE
TAVILY_API_KEY=YOUR_SECRET_HERE
MODEL_ID=YOUR_SECRET_HERE
AGENT_DATA_ROOT=YOUR_SECRET_HERE
TEMPERATURE=YOUR_SECRET_HERE
EMBEDDING_MODEL=YOUR_SECRET_HERE